* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  --primary-color: lavender;
  --secondary-color: rgb(246, 246, 253);
  --queryButton-color: rgb(113, 215, 255);
  --queryButtonHover-color: rgb(57, 199, 255);
}

/* Banner */

.banner {
  display: flex;
  height: 250px;
  min-width: 600px;

  background: linear-gradient(transparent, white 90%), url("assets/fantasy-town.png");
  background-color: darkorchid;
  background-blend-mode: screen;
  background-size: cover;

  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  padding: 10px;
}


/* SearchBar */

.searchBar input {
  width:  250px;
  height: 30px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
}

.searchBar input:focus {
  outline: 2px solid rgb(57, 199, 255);
}

.searchBar button {
  background-color: var(--queryButton-color);
  margin-left: 5px;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  border: none;
  align-items: center;
  justify-content: center;
}

.searchBar button:hover {
  background-color: var(--queryButtonHover-color);
}

/* Deck Builder */

.deckBuilder {
  padding: 0 50px;
  display: flex;
  min-width: 600px;
}

.deckSelector {
  height: 100%;
  position: sticky;
  top: 20vh;
}

.deckModule {
  padding: 20px;
  height: 400px;
  background-color: rgb(246, 246, 253);
  border-radius: 10px;
  border: 5px solid lavender;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.322);
}

/* Card Display */

.cardDisplay {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 250px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.card p {
  text-align: center;
}

.card:hover .hide {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardImage {
  display: flex;
  position: relative;
}

.cardImage img{
  width: 250px;
}

.cardSelect {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.hide {
  display: none;
}

.hide button{
  height: 50px;
  width: 50px;
  background-color: rgba(185, 185, 185, 0.6);
  border-radius: 15px;
  border: none;
}

.hide button:hover {
  background-color: rgba(185, 185, 185, 0.8);
}

.filterButton {
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--queryButton-color); 
}

.filterButton:hover {
  background-color: var(--queryButtonHover-color);
}

.filterModal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.filterContent {
  margin-top: 50px;
  background-color: var(--secondary-color);
  height: 300px;
  width: 50vw;
  font-size: 1.5rem;
  
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);
  padding: 10px 20px ;
}

.filterHeader button {
  background-color: transparent;
  border: none;
  font-weight: 800;
  font-size: 1.5rem;
}

.filterSettings {
  padding: 10px;
  display: flex;
}

.filterSettings form{
  font-size: 1.2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}